<div ng-show="Professional">
    <div class="opacidad container">
        <h1 class="titulo">Solicitar nuevo servicio:</h1>


        <section class="ng-scope beautyservice">
            <header class="section-head text-center">
                <h2 class="titulo2-servicios">Formulario</h2>
                <h4 class="titulo4-servicios">Por favor llenar los siguientes campos.</h4>
            </header>
            <div layout="row">
                <div class="container" flex="70">
                    <form role="form" ng-submit="requestNewService()">

                        <div class="form-group">
                            <label for="nombre">Nombre:</label> <input type="text"
                                                                       class="form-control" id="nombre" name="nombre" ng-model="{newServiceName}"/>
                        </div>
                        <div class="form-group" ng-show="users.roles_idRole.nombre=='PROFESSIONAL'">
                            <label for="cedula">Cedula</label> <input type="number"
                                                                      class="form-control" id="cedula" name="idCard" ng-model="{newServiceDescription}"/>
                        </div>

                        <div class="sub">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Solicitar Servicio</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>


</div>