<div class = "container fondo">
    <div class="col-sm-12 titulo">
        <h1>Registro Usuario Nuevo</h1>
    </div>
    <div class  = "col-sm-3"></div>
    <div class="col-sm-6 login">
        <form role="form" ng-submit="RegistrarUsu()">
            <div class="form-group">
<!--                <input type="file"/>-->
<!--            <input type="file" file-model="myFile"/>
            <button ng-click="uploadFile()">upload me</button>
            Status:{{status}}-->
            </div>
            
            <div class="form-group">
                <label for="nombre">Nombre:</label> <input type="text"
                                                              class="form-control" id="nombre" name="nombre" ng-model="users.name"/>
            </div>
            <div class="form-group" ng-show="users.roles_idRole.nombre=='PROFESSIONAL'">
                <label for="cedula">Cedula</label> <input type="number"
                                                                 class="form-control" id="cedula" name="idCard" ng-model="users.idCard"/>
            </div>
            <div class="form-group">
                <label for="email">Email:</label> <input type="email"
                                                              class="form-control" id="email" name="email" ng-model="users.email"/>
            </div>
            <div class="form-group">
                <label for="password">password:</label> <input type="password"
                                                                 class="form-control" id="password" name="password" ng-model="users.password"/>
            </div>
            <div class="sub">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Crear Cuenta</button>
            </div>
        </form>
    </div>
    <div  class="col-sm-3 "></div>
</div>
