<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-azure-east-c.cloudapp.net:3306/acsm_d85262b543cf43e</property>
    <property name="hibernate.connection.username">bc28808a26bcc9</property>
    <property name="hibernate.connection.password">c5a9f5ab</property>
    
    
    <mapping class="edu.eci.cosw.models.Role"/>
    <mapping class="edu.eci.cosw.models.Usuario"/>
  </session-factory>
</hibernate-configuration>
