<div ng-show="Cliente">
    <div class="opacidad container">
        <h1 class="titulo">Servicios Disponibles:</h1>
        <section id="beautyservice" class="ng-scope">
            <header class="section-head text-center">
                <h2 class="titulo2-servicios">ESTILISTAS DISPONIBLES</h2>
                <h4 class="titulo4-servicios">Selecciona uno de los estilistas para ver mas detalles.</h4>
            </header>
            <md-list flex>
                <md-list ng-controller="ListCtrl" ng-cloak>
                    <md-subheader class="md-no-sticky">Estilistas:</md-subheader>
                    <md-list-item ng-repeat="estilista in estilistas" ng-click="goToPerson(estilista.name, $event)" class="noright">
                        <img ng-src="{{ estilista.img }}" class="md-avatar" />
                        <div class="md-list-item-text interlineado" layout="column">
                            <h4>{{ estilista.name }}</h4>
                            <p>{{ estilista.name }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-list>
        </section>

    </div>
</div>

<div ng-show="Professional">


</div>