<div ng-show="Cliente" xmlns="http://www.w3.org/1999/html">
    <div class="opacidad container">
        <h1 class="titulo">Servicios Estilista</h1>
            <p>Seleccione, por favor, los servicios que desea reservar</p>

        <md-list ng-controller="ControladorServiciosSolicitados" ng-cloak>

            <md-subheader class="md-no-sticky">Servicios de:
                    <span class="glyphicon glyphicon-user"></span>
                    {{estilista}}
            </md-subheader>

            <div class="container-fluid">
                <div class="row">



                    <div layout="column" layout-align=" center" class="col-xs-6">
                        <md-list-item ng-repeat="servicio in servicios">
                            <input type="checkbox" ng-click="servicioSelect(servicio.nombre)" ng-checked="selection.indexOf(servicio.nombre) > -1" >
                                <p> {{ servicio.nombre }}  </p>
                            </input>

                        </md-list-item>
                    </div>

                    <div layout="column" class="col-xs-6">

                        <span>Servicios Seleccionados:</span>

                        <md-divider ng-repeat="s in selection"  class="selected-item" ng-click="reservar(selection)">
                                <p>
                                    <p> {{ s }} </p>
                                </p>

                            <!--<li ng-repeat="p in precios">
                                {{ p }}
                            </li>-->

                        </md-divider>
                    </div>
                </div>
            </div>
            <p>
                <button type="button" class="btn btn-default btn-md" ng-click="reservar(selection)">
                    <span class="glyphicon glyphicon-ok-circle"></span> Reservar
                </button>
            </p>

        </md-list>
    </div>

</div>

<div ng-show="Professional">

</div>
