<div ng-show="Cliente">
    <div class="opacidad container">
        <h1 class="titulo">Servicios Disponibles:</h1>


        <section id="beautyservice" class="ng-scope">
            <header class="section-head text-center">
                <h2 class="titulo2-servicios">ESTILISTAS DISPONIBLES</h2>
                <h4 class="titulo4-servicios">Selecciona uno de los estilistas para ver mas detalles.</h4>
            </header>
            <md-list ng-controller="ListCtrl" ng-cloak>

                <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>
                <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">
                    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
                    <p>{{ person.name }}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
                </md-list-item>
            </md-list>

        </section>

    </div>
</div>

<div ng-show="Professional">


</div>