<div class="container opcion">
    <h1>Registrarme Comó:</h1>
    <div class="col-sm-12 view">
        <div class="col-sm-2 register">
            <img src="image/2061.jpg">
        </div>

        <div class="col-sm-10" view-text>

            <a href="#!/Registrar" ng-click="role(2,'PROFESSIONAL')">Estilista</a>

        </div>
    </div>

    <div class="col-sm-12 view">
        <div class="col-sm-2 register">
            <img src="image/cliente.jpg">
        </div>

        <div class="col-sm-10 view-text">

            <a href="#!/Registrar" ng-click="role(1,'CLIENT')">Un Nuevo Usuario</a>

        </div>
    </div>
</div>
